<div style="background-color: white;" class="mt-5">
    <div class="linea-divisora"></div>

    <div class="container-principal">
        <div class="footer-logo">
            
            <h3><b>Estrapyme</b></h3>
        </div>

        <div class="footer-links">
            <ul>
                <li class="highlight"><b>Nosotros</b></li>
                <li>About</li>
                <li>Privacy</li>
                <li>Abuse</li>
                <li>Charges</li>
                <li>Terms</li>
            </ul>

            <ul>
                <li class="highlight"><b>Productos</b></li>
                <li>Learn</li>
                <li>Plugins</li>
                <li>Awards</li>
                <li>Agencies</li>
                <li>Pricing</li>
                <li>Business</li>
            </ul>

            <ul>
                <li class="highlight"><b>Recursos</b></li>
                <li>Desktop apps</li>
                <li>Partners</li>
                <li>Experts</li>
                <li>Helpful Tips</li>
            </ul>

            <ul>
                <li class="highlight"><b>Legal</b></li>
                <li>Terms</li>
                <li>Privacy</li>
                <li>Cookies</li>
                <li>Licenses</li>
                <li>Settings</li>
                <li>Contact</li>
            </ul>
        </div>

        <div class="footer-contacto">
            <span>
                <input placeholder=" Ingresa tu email" type="text">
                <button>Suscribirse</button>
            </span>
        </div>

        <div style="height: 40px;" class="footer-redes">
            <span>Grupo 2 © 2024. All rights reserved.</span>

            <span style="font-size: 23px;">
                <i class="fa-brands fa-youtube me-4"></i>
                <i class="fa-brands fa-instagram me-4"></i>
                <i class="fa-brands fa-facebook me-4"></i>
                <i class="fa-brands fa-twitter"></i>
            </span>
        </div>
    </div>
</div>
