<nav class="navbar navbar-expand-md navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img width="150px" height="50px" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Logo_EAFIT.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/home-diagnostico">Diagnóstico</a>
                </li>
                <li class="nav-item">
                    <a href="#">Contacto</a>
                </li>
                <li class="nav-item">
                    <a href="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
