<nav class="navbar navbar-expand-md navbarColor">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img width="150px" height="50px" src="https://th.bing.com/th/id/OIP.V4dIMI9REQko3MNPSakIGwHaD2?w=326&h=180&c=7&r=0&o=5&pid=1.7" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NOSOTROS</a>
                </li>
                <li class="nav-item">
                    <a routerLink="home-diagnostico" class="nav-link">DIAGNOSTICO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REGISTRO</a>
                </li>
                <li  class="nav-item">
                    <a routerLink="login" class="nav-link">LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>