<app-navbar></app-navbar>
  
  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-12 text-center text-primary">
        <h2 class="text-center colorTituloAzul">Resultado radar estrategico organizacional</h2>
        <br>
        <iframe width="400" height="220" src="https://www.youtube.com/embed/R_eNtRGzvcw" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
  
      </div>
      <div class="col-10 text-center contenidoGrafico">
        <div class="canvas-wrapper" *ngIf="isBrowser">
  
          <canvas #chartCanvas class="bordeCanvas"></canvas>
        </div>
      </div>
      <div class="col-1">
  
      </div>
  
    </div>
    <div class="ms-3  mb-3 mt-5 text-center">
      <button type="submit" class="btn colorBoton">&nbsp;Regresar al menú</button>
    </div>
  </div>