<nav class="navbar navbar-expand-md navbarColor">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">REGISTRO ESTRAMIPYME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DIAGNOSTICO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">REGISTRO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-12 text-center text-primary">
        <h2 class="text-center colorTituloAzul">Resultado radar estrategico organizacional</h2>
        <br>
        <iframe width="400" height="220" src="https://www.youtube.com/embed/R_eNtRGzvcw" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
  
      </div>
      <div class="col-10 text-center contenidoGrafico">
        <div class="canvas-wrapper" *ngIf="isBrowser">
  
          <canvas #chartCanvas class="bordeCanvas"></canvas>
        </div>
      </div>
      <div class="col-1">
  
      </div>
  
    </div>
    <div class="ms-3  mb-3 mt-5 text-center">
      <button type="submit" class="btn colorBoton">&nbsp;Regresar al menú</button>
    </div>
  </div>