<!--Titulo-->
<div class="d-flex justify-content-center mb-5">
    <h1>Marco VRLN</h1>
</div>

<div class="d-flex justify-content-center mb-5">
    <div class="video-explicativo">
        <p>video explicativo</p>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-md-10">
            <!--Tabla 1-->
            <table class="table table-hover table-bordered mb-4">
                <thead>
                    <tr>
                        <th scope="col">Herramienta</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Observaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Marco vrIn</th>
                        <td>Esta herramienta es útil para evaluar si los recursos y capacidades que tiene el
                            negocio ayudan a crear una ventaja competitiva al ser: valiosos, raros, inimitables y
                            estar organizados.</td>
                        <td>Este marco se basa en la teoría de los recursos y capaci- dades (Barney, Ketchen y
                            Wright, 2021), la cual sostiene que la ventaja competitiva de una empresa no depende de
                            la industria sino de su capacidad para organizar, diferenciar y sacar el máximo
                            provecho de lo que tiene y lo que sabe hacer.</td>
                    </tr>
                </tbody>
            </table>

            <!--Tabla 2-->
            <table class="table table-hover table-bordered mb-5">
                <thead>
                    <tr>
                        <th></th>
                        <th>Financieros</th>
                        <th>Caja <br> Capacidad de endeudamiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Tangibles</th>
                        <td>Físicos</td>
                        <td>Ubicación<br>Planta<br>Equipos</td>
                    </tr>
                    <tr>
                        <th scope="row">Intangibles</th>
                        <td>Innovacion y tecnologia</td>
                        <td>Reputacion</td>
                        <td>Patentes<br>Marcas registradas<br>Derechos de explotación</td>
                        <td>Marca, relaciones</td>
                    </tr>
                    <tr>
                        <th scope="row">Activos organizacionales</th>
                        <td>Humanos</td>
                        <td>Estructura</td>
                        <td>Talesntos espaciales <br> nivel de entrenamiento</td>
                        <td>Redes propias <br> tipo Estructura</td>
                        
                    </tr>
                </tbody>
            </table>

            <h3>El principal recurso que te diferencia de tu competidor es:</h3>
            <div class="container-input mb-3">
                <input type="text" placeholder="escribe aqui tu respuesta">
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-dark">Siguiente</button>
    </div>
</div>