.video-explicativo{
    width: 350px;
    height: 150px;
    background-color: rgba(113, 41, 180, 0.577);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-input{
    width: 100%;
    border-bottom: 1px solid black;
}

.container-input input{
    all: unset;
    width: 100%;
}