<div class="container-titulo mb-5">
    <div style="width: 270px;">
        <h1 class="titulo">Bienvenidos al diagnostico</h1>
    </div>
</div>

<div class="container">
    <div class="container-videos mb-5">
        <div class="video">video interactivo 1</div>
        <div class="video">video interactivo 2</div>
        <div class="video">video interactivo 3</div>
    </div>

    
</div>

<div class="container">
    <div class="container-pruebas mb-3">
        <div class="row">
                <!--Dofa-->
            <div class="col-md-4">
                <div class="card card-style" style="width: 18rem;">
                    <img height="180px" src="https://th.bing.com/th/id/OIP.KCaE7N4xnjBaVNNc0HHAUAHaEK?w=290&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                    <h5 class="card-title text-center">DOFA</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                    </div>
                </div>
            </div>

            <!--Radar estrategico-->
            <div class="col-md-4">
                <div class="card card-style" style="width: 18rem;">
                    <img height="180px" src="https://th.bing.com/th/id/OIP.wZxx9BWa1v6WNRJixHuvcgHaE5?w=250&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                    <h5 class="card-title text-center">Radar estrategico</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                    </div>
                </div>
            </div>

            <!--Marco VRLN-->
            <div class="col-md-4">
                <div class="card card-style" style="width: 18rem;">
                    <img height="180px" src="https://th.bing.com/th/id/OIP.0AweE-f6J6f7_lKW7-0XEwHaE7?w=251&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                    <h5 class="card-title text-center">Marco VRLN</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div class="container-pruebas">
        <div class="row">
                <!--Propuesta de valor-->
            <div class="col-md-4">
                <div class="card card-style" style="width: 18rem;">
                    <img height="180px" src="https://th.bing.com/th/id/OIP.2t_v4N5yjSb71HfwWyZqrwHaE8?w=231&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                    <h5 class="card-title text-center">Propuesta de valor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                    </div>
                </div>
            </div>

            <!--Canva-->
            <div class="col-md-4">
                <div class="card card-style" style="width: 18rem;">
                    <img height="180px" src="https://th.bing.com/th/id/OIP.xyn8XhdhrnIW88MS-2iPVgHaEo?w=235&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                    <h5 class="card-title text-center">Canva</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                    </div>
                </div>
            </div>

            <!--Resultados-->
            <div class="col-md-4">
                <div class="card card-style" style="width: 18rem;">
                    <img height="180px" src="https://th.bing.com/th/id/OIP.sSCCH4KNS-uoOK8qw_ncHQHaEc?w=276&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                    <h5 class="card-title text-center">Resultados</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>