<app-navbar></app-navbar>

<div class="container-titulo mb-5">
    <div style="width: 270px;">
        <h1 class="titulo">Bienvenidos al diagnostico</h1>
    </div>
</div>

<div class="container">
    <div class="container-videos mb-5">
        <div class="video">
            <iframe     src="https://www.youtube.com/embed/E7N7t7B0Z3c" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
            </iframe>
        </div>
        <div class="video">
            <iframe     src="https://www.youtube.com/embed/GOL5cguRmSc" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
            </iframe>
        </div>
        <div class="video">
            <iframe     src="https://www.youtube.com/embed/24VCsJI8Iuc" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
            </iframe>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <!--Dofa-->
    <div class="col-md-5 col-12 d-flex justify-content-center mb-4">
        <div class="card card-style" style="width: 23rem;">
            <img height="180px" src="https://th.bing.com/th/id/OIP.KCaE7N4xnjBaVNNc0HHAUAHaEK?w=290&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title text-center">DOFA</h5>
            <p class="card-text justify-text"> Es una herramienta utilizada para identificar las fortalezas, las oportunidades, las debilidades y las amenazas,  a fin de desarrollar un plan estratégico para los negocios.</p>
            <a routerLink="/dofa" class="btn btn-primary btn-inicio-pruebas">Inicio</a>
            </div>
        </div>
    </div>

    <!--Radar estrategico-->
    <div class="col-md-5 col-12 d-flex justify-content-center mb-4">
        <div class="card card-style" style="width: 23rem;">
            <img height="180px" src="https://th.bing.com/th/id/OIP.wZxx9BWa1v6WNRJixHuvcgHaE5?w=250&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body text-center">
            <h5 class="card-title text-center">Radar estrategico</h5>
            <p class="card-text justify-text">Está herramienta permite evaluar los aspectos internos claves del negocio como conocimiento del cliente, coherencia del modelo de negocio y salud financiera.</p>
            <a routerLink="/cuestionario-reo" class="btn btn-primary btn-inicio-pruebas">Inicio</a>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
        <div class="col-1"></div>
        <!--Circulo Dorado-->
        <div class="col-md-5 col-12 d-flex justify-content-center mb-4">
            <div class="card card-style" style="width: 23rem;">
                <img height="180px" src="https://th.bing.com/th/id/OIP.2t_v4N5yjSb71HfwWyZqrwHaE8?w=231&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title text-center">Circulo Dorado</h5>
                <p class="card-text justify-text">Esta herramienta permite visualizar en una sola imagen el propósito, la propuesta de valor, los productos y los servicios que ofrece el negocio.</p>
                <a routerLink="/circulo-dorado" class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                </div>
            </div>
        </div>


        <!--Resultados-->
        <div class="col-md-5 col-12 d-flex justify-content-center mb-4">
            <div class="card card-style" style="width: 23rem;">
                <img height="180px" src="https://th.bing.com/th/id/OIP.sSCCH4KNS-uoOK8qw_ncHQHaEc?w=276&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                <div class="card-body text-center">
                <h5 class="card-title text-center">Resultados</h5>
                <p class="card-text justify-text">Cada una de estas herramientas nos permiten dar una evaluación eficiente, de las principales fortalezas y debilidades del negocio.</p>
                <a class="btn btn-primary btn-inicio-pruebas">Inicio</a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
</div>

<app-footer></app-footer>