<div class="centroimg">
  <!-- <img src="../../assets/avatar.png" class="icono" alt="LOGIN" /> -->
</div>
<div class="centrologin">
  <section class="form-login">
    <strong> <h5>Iniciar sesion</h5></strong>
    <input
      class="controls"
      type="text"
      name="usuario"
      value=""
      placeholder="Usuario"
    />
    <input
      class="controls"
      type="password"
      name="contraseña"
      value=""
      placeholder="Contraseña"
    />
    <input class="buttons" type="submit" name="" value="Ingresar" />
    <p>
      <strong><span>¿Olvidaste tu Contraseña?</span></strong>
    </p>
  </section>
</div>
