.circulo-contenedor {
  position: relative;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}

.circulo-1 {
  width: 25vw;
  height: 25vw;
  background-color: #ffff40;
  border: 2px solid #000;
}

.circulo-2 {
  width: 18vw;
  height: 18vw;
  background-color: #ebf833;
  border: 2px solid #000;
}

.circulo-3 {
  width: 10vw;
  height: 10vw;
  background-color: #DBDE28;
  border: 2px solid #000;
}

.texto-circulo {
  position: absolute;
  top: 0; /* Posiciona el texto en la parte superior */
  width: 100%;
  text-align: center;
  font-size: 16px; /* Tamaño ajustado para que se adapte mejor */
  padding-top: 5px; /* Añadir espacio superior para el texto */
}

  .card-center {
    margin-left: auto;
    margin-right: auto;
  }

  .card-blue {
    background-color: #000066;
    color:white;
   
  }

  .card-yellow {
    background-color: #ffff40;
    color:black
  }

  .card-yellow:hover {
    cursor:pointer;
  }

  .infoCirculoBox {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente (opcional) */
  }
  .iconoDesplegable {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    position: relative; /* Necesario para el posicionamiento absoluto del icono */
  }
  
  .iconoDesplegable .titulo {
    flex-grow: 1; /* Permite que el título ocupe todo el espacio disponible */
    text-align: center; /* Centra el texto del título */
  }
  
  .iconoDesplegable i {
    position: absolute; 
    right: 0; 
  }

  .list-group-item {
    text-align: justify; 
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .one, .two, .three {
    padding: 10px;
    background-color: rgb(96, 225, 203);
    border: 1px solid #a89bff;
    border-radius: 5%;
    text-align: center;
    width: 60%;
  }
  
 
  
  
