<nav class="navbar navbar-expand-md navbarColor">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">REGISTRO ESTRAMIPYME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DIAGNOSTICO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACTO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">REGISTRO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
<div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-3">

      </div>
      <div class="col-6">


        <div class="circulo-contenedor">
            <div class="circulo circulo-1">
              <span class="texto-circulo">¿Qué?</span>
            </div>
            <div class="circulo circulo-2">
              <span class="texto-circulo">¿Cómo?</span>
            </div>
            <div class="circulo circulo-3">
              <span class="texto-circulo">¿Por qué?<br>¿Para qué?</span>
            </div>
          </div>
      </div>
      <div class="col-3">

      </div>


        

    </div>
  </div>