<app-navbar></app-navbar>

<div style="background-color: rgb(233, 251, 248);">
    <div class="container  mb-4">
      <div class="row">
        <div class="col-12 text-center text-primary">
          <br>
          <h2 class="Titulo">Resultado gráfico Matriz Dofa</h2>
          <br>
        </div>
      </div>
    </div>
    <div style="display: block; width: 50%; height: 400px; margin: auto;">
      <canvas id="barChart"></canvas>
    </div>
    <div class="row justify-content-center mt-2">
      <div class="col-12">
        
        <div class="row p-5">
          <div *ngFor="let grupoData of datosResultado" class="col-6 p-4" >
              <h3 class="text-center Titulo">Resultado de {{ grupoData.grupo }}</h3>
              <h5>Su resultado está entre {{grupoData.rango}}</h5>
              <div *ngFor="let item of grupoData.lista" class="justify-text">
                <p><span class="Titulo">{{ item.titulo }}:</span> {{ item.texto }}</p>
              </div>
          </div>
        </div>        
        
      </div>
    </div>
    <div class="ms-3 mb-3 text-center">
      <button type="button" class="btn colorBoton" [routerLink]="['/home-diagnostico']">
        &nbsp;Regresar al menú
      </button>
    </div>

<app-footer></app-footer>
