<app-navbar></app-navbar>

<header class="container-fluid">
  <div class="row ">
    <div class="col-12 d-flex align-items-center justify-content-center text-center">
      <div class="text-wrapper">
        <span class="text-black">Metodología fácil y ágil para diseñar <br> una estrategia competitiva</span>
      </div>
    </div>
  </div>
</header>

<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 colorBorde border border-3 rounded ">
      <form class="form">
        <br>
        <div class="text-center text-primary">
          <h2 class="colorTituloAzul"> Formulario de registro</h2>
        </div>
        <div class="mb-3 mt-5 ms-3">
          <label for="exampleFormControlInput1" class="form-label fw-bold">Nombre Completo</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 ms-3">
          <label class=" form-label fw-bold"> Tipo de documento</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioTipoIdentificacion" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioTipoIdentificacion">
              Cédula de ciudadanía
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioTipoIdentificacion" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioTipoIdentificacion">
              Tarjeta de identidad
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioTipoIdentificacion" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioTipoIdentificacion">
              Cédula de extranjería
            </label>
          </div>
        </div>



        <div class="mb-3 ms-3 mt-3">
          <label for="exampleFormControlInput1" class=" form-label fw-bold">Número de documento</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="mb-3 ms-3">
          <label for="exampleFormControlInput1" class=" form-label fw-bold">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@gmail.com">
        </div>

        <div class="mb-3 ms-3">
          <label for="exampleFormControlInput1" class=" form-label fw-bold">Numero de telefono</label>
          <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="mb-3 ms-3">
          <label class=" form-label fw-bold"> Nivel de formación</label>
          <div class="form-check">

            <input class="form-check-input" type="radio" name="flexRadioNivelFormacion" id="nivelFormacionBachiller">
            <label class="form-check-label" for="flexRadioNivelFormacion">
              Bachiller
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioNivelFormacion"
              id="nivelFormacionTecnicoTecnologo">
            <label class="form-check-label" for="flexRadioNivelFormacion">
              Técnico o tecnólogo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioNivelFormacion" id="nivelFormacionProfesional">
            <label class="form-check-label" for="flexRadioNivelFormacion">
              Profesional
            </label>
          </div>
        </div>

        <div class="mb-3 ms-3 mt-3">
          <label for="exampleFormControlInput1" class=" form-label fw-bold">Nombre del emprendimiento o empresa</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 ms-3">
          <label for="exampleFormControlInput1" class=" form-label fw-bold">NIT (si tiene)</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3 ms-3">
          <label for="exampleFormControlInput1" class=" form-label fw-bold">Tiempo de ejecución </label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
        </div>

        <div class="form-check ms-3 mt-5 ">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            He leído y acepto los términos y condiciones de uso
          </label>
        </div>
        <br>
        <div class="ms-3 mb-3 text-center">
          <button type="submit" class="btn colorBoton">Guardar</button>
        </div>

      </form>
    </div>
    <div class="col-3">

    </div>




  </div>
</div>

<app-footer></app-footer>